{
  "app": {
    "guid": "6107d723-48f3-481c-a4d6-75f4eb1efa91",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.bnjmhjkh",
    "artifactId": "io.cronapp.apps.bnjmhjkh"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": false,
    "exposeDataSources": false,
    "exposeEntities": false,
    "exposeBlocklys": false,
    "exposeAuth": false
  },
  "security": {
    "token": "NjEwN2Q3MjMtNDhmMy00ODFjLWE0ZDYtNzVmNGViMWVmYTkx",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "authentication": "Token",
      "appid": "io.cronapp.apps.bnjmhjkh",
      "backend": "false",
      "theme": "Material",
      "availableSignup": "true",
      "includeauth": "true",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 8,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "proxy": {
    "host": "",
    "port": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "cors": "*",
  "corsMethods": "*",
  "corsHeaders": "*",
  "projectName": "fsdfdsfsdfs",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "Material",
      "searchableText": "MaterialMaterial theme uses standard HTML and CSS Bootstrap with accessibility support ♿",
      "themeDescription": "Material theme uses standard HTML and CSS Bootstrap with accessibility support ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image-963276394.png",
      "themePath": "node_modules/cronapp-framework-js/css/themes/material.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "Material",
      "searchableText": "MaterialMaterial theme uses standard HTML and CSS Bootstrap with accessibility support ♿",
      "themeDescription": "Material theme uses standard HTML and CSS Bootstrap with accessibility support ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image-963276394.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/material.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    },
    "mobileSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    }
  },
  "saveAuditLog": 365,
  "servicesConfiguration": {
    "storeCredentials": false,
    "elasticServer": null,
    "apmServer": null,
    "cacheServer": null,
    "queueServer": null,
    "storageServer": null,
    "analyticsServer": null
  },
  "showStackTrace": true,
  "locale": "",
  "cronappVersion": "0.0.0",
  "biometricAuthentication": false,
  "webLogoutRoute": "views/login.view.html",
  "mobileLogoutRoute": "views/login.view.html",
  "extraHeaders": [],
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}