{
  "app": {
    "guid": "817b6696-4136-486a-a617-06b14ce77719",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.ghghjghjghjghj",
    "artifactId": "io.cronapp.apps.ghghjghjghjghj"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "openApi": {
    "exposeEndpoints": false,
    "exposeDataSources": false,
    "exposeEntities": false,
    "exposeBlocklys": false,
    "exposeAuth": false
  },
  "security": {
    "token": "ODE3YjY2OTYtNDEzNi00ODZhLWE2MTctMDZiMTRjZTc3NzE5",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {
      "security.oauth2.client.clientAuthenticationScheme": "form",
      "security.oauth2.saml.storePass": "storePass",
      "cronapp.framework.mailer.scheduler.batchSize": "10",
      "security.oauth2.client.accessTokenUri": "accessTokenUri",
      "cronapp.framework.mailer.username": "email@gmail.com",
      "cronapp.framework.mailer.host": "smtp.gmail.com",
      "security.oauth2.saml.entityId": "entityId",
      "cronapp.framework.mailer.auth": "true",
      "security.oauth2.client.userAuthorizationUri": "userAuthorizationUri",
      "security.oauth2.saml.maxAuthenticationAge": "7200",
      "security.oauth2.saml.privateKeyPass": "privateKeyPass",
      "security.oauth2.saml.storeFile": "storeFile",
      "security.oauth2.resource.userInfoUri": "userInfoUri",
      "security.oauth2.sso.login-path": "/login",
      "security.oauth2.client.scope": "openid profile email",
      "security.oauth2.client.clientId": "clientId",
      "cronapp.framework.mailer.password": "password",
      "cronapp.framework.mailer.protocol": "smtp",
      "cronapp.framework.mailer.tls": "true",
      "security.oauth2.saml.forceAuthN": "false",
      "cronapp.framework.mailer.port": "587",
      "spring.output.ansi.enabled": "ALWAYS",
      "security.oauth2.client.clientSecret": "clientSecret",
      "cronapp.framework.mailer.scheduler.expression": "0 * * ? * *",
      "security.oauth2.saml.metadataUrl": "metadataUrl",
      "cronapp.security.authentication": "true ",
      "security.oauth2.saml.privateKey": "privateKey",
      "security.oauth2.resource.preferTokenInfo": "false"
    },
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "authentication": "Token",
      "appid": "io.cronapp.apps.ghghjghjghjghj",
      "backend": "true",
      "theme": "Material",
      "availableSignup": "true",
      "includeauth": "false",
      "frontend": "true"
    },
    "groupName": null,
    "availableSignup": true,
    "minPasswordSize": 8,
    "failedAttempts": 4,
    "blockTime": 10,
    "idletime": 0,
    "onlyStrongPass": true,
    "dontAllowRepeatedPass": true,
    "minUpperCase": 1,
    "minDigit": 1,
    "minSpecial": 1
  },
  "email": {
    "emailResetPassword": "",
    "nameResetPassword": ""
  },
  "proxy": {
    "host": "",
    "port": ""
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "cors": "*",
  "corsMethods": "*",
  "corsHeaders": "*",
  "projectName": "ghghjghjghjghj",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "libraryConfiguration": {},
  "themeConfiguration": {
    "webTheme": {
      "themeName": "material",
      "searchableText": null,
      "themeDescription": null,
      "imgSrc": null,
      "themePath": "plugins/cronapp-framework-js/css/themes/material.min.css",
      "deprecated": false
    },
    "mobileTheme": {
      "themeName": "Material",
      "searchableText": "MaterialMaterial theme uses standard HTML and CSS Bootstrap with accessibility support ♿",
      "themeDescription": "Material theme uses standard HTML and CSS Bootstrap with accessibility support ♿",
      "imgSrc": "/rwt-resources/files-templates/theme-image-963276394.png",
      "themePath": "node_modules/cronapp-framework-mobile-js/css/themes/material.min.css",
      "deprecated": false
    },
    "webSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    },
    "mobileSkin": {
      "skinPath": null,
      "skinRelativePath": ""
    }
  },
  "saveAuditLog": 365,
  "servicesConfiguration": {
    "storeCredentials": false,
    "elasticServer": null,
    "apmServer": null,
    "cacheServer": null,
    "queueServer": null,
    "storageServer": null,
    "analyticsServer": null
  },
  "showStackTrace": true,
  "locale": "",
  "cronappVersion": "4.3.0-SNAPSHOT",
  "biometricAuthentication": false,
  "webLogoutRoute": "views/login.view.html",
  "mobileLogoutRoute": "views/login.view.html",
  "extraHeaders": [],
  "webMainRoute": "views/login.view.html",
  "mobileMainRoute": "views/login.view.html",
  "xframeOptions": "SameOrigin"
}