<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="root" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:h2:file:~/1dce541db9274d4c92406ac350d083e0;AUTO_SERVER=TRUE;MODE=LEGACY" username="root"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
</Context>
